% Dependencies
{deps, [
  {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs", {tag, "0.8.1p3"}}}
]}.

% EUnit
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

% Cover
{cover_enabled, true}.
{cover_print_enabled, true}.

% Cleanup
{clean_files, ["*.eunit", "ebin/*.beam", "test/*.beam", "include/katja_pb.hrl"]}.
