{deps, [
  {protobuffs, {git, "git://github.com/basho/erlang_protobuffs", {tag, "0.9.0"}}}
]}.

{plugins, [
  {rebar3_protobuffs, {git, "git://github.com/nifoc/rebar3_protobuffs", {branch, "master"}}}
]}.

{erl_opts, [
  {platform_define, "^(19|2)", rand_only},
  warn_bif_clash,
  warn_deprecated_function,
  warn_deprecated_type,
  warn_export_all,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars,
  warnings_as_errors
]}.

{profiles, [
  {test, [
    {ct_opts, [
      {ct_hooks, [nifoc_ct_hook]}
    ]},
    {deps, [
      {nifoc_ct_helper, {git, "git://github.com/nifoc/nifoc_ct_helper", {branch, "master"}}}
    ]}
  ]}
]}.

{provider_hooks, [
  {pre, [{compile, {protobuffs, compile}}]}
]}.
