% Dependencies
{deps, [
  {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs", {tag, "0.8.1p4"}}}
]}.

% erlc
{erl_opts, [
  warn_export_all,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_unused_import,
  warnings_as_errors
]}.

% EUnit
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

% Cover
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

% EDoc
{edoc_opts, [
  {def, [
    {version, "0.2"},
    {years, "2014"}
  ]}
]}.

% Xref
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls
]}.

% Cleanup
{clean_files, ["*.eunit", "ebin/*.beam", "test/*.beam", "include/katja_pb.hrl"]}.
